/* Nav Bar */

.navImage {
  width: 122px;
  border-radius: 30%;
}
.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}
#navbar {
  display: flex;
  justify-content: space-between;
  /* margin-top: 1rem; */
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--blue-color);
  color: rgb(20, 19, 19);
  padding: 1rem;
  /* debx img will go on top if you don't have this z index */
  z-index: 3;
  box-shadow: 2px 2px 2px 0px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
}
#navbar ul li a {
  color: rgb(142, 169, 248);
  padding: 0.1rem;
  margin: 0.1rem;
  font-size: 1rem;
  font-weight: bolder;
  text-decoration: none;
}
#navbar ul li {
  padding: 1rem;
  transition: transform 0.7s;
  transition-timing-function: cubic-bezier(0.45, 1.87, 0.62, 1.6);
}
#navbar ul li:hover a.nav {
  color: #fff;
  border-bottom: 4px solid white;
}
#navbar ul li:hover {
  transform: translateY(-10%);
}
a {
  text-decoration: none;
}
@media screen and (max-width: 788px) {
  #navbar {
    flex-direction: column;
    padding: 5px;
  }
  #navbar ul {
    flex-direction: column;
  }
  #navbar ul li {
    padding: 0px;
    margin: 0px;
  }
  #navbar ul li a {
    font-size: 0.6rem;
  }
  .navImage {
    width: 60px;
  }
}
