/* Reset */
* {
  /* padding will not add to the ACTUALLY WIDTH OF THE BOX */
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
/* Main Styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
:root {
  --primary-green: rgb(10, 243, 10);
  --primary-blue: #177bdf;
  --primary-pink: #f805b1;
  --blue-color: #0d3bef;
}

.headLine {
  color: var(--blue-color);
  text-align: center;
  margin: 70px 0px;
}
.noteDiv {
  border-radius: 10px 10px 0px 0px;
  margin: 11px;
  padding: 22px;
  background-color: var(--blue-color);
  transition: color 0.6s, box-shadow 0.7s, transform 0.7s;
  transition-timing-function: cubic-bezier(0.45, 1.87, 0.62, 1.6);
}
.noteDiv:hover {
  box-shadow: 5px 4px 9px black;
  transform: scale(1.1);
}
.noteAnchor {
  color: white;
}
.print-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
