/* Reset */
* {
  /* padding will not add to the ACTUALLY WIDTH OF THE BOX */
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
/* Main Styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
:root {
  --primary-green: rgb(10, 243, 10);
  --primary-blue: #177bdf;
  --primary-pink: #f805b1;
  --blue-color: #0d3bef;
}

/* Nav Bar */

.navImage {
  width: 122px;
  border-radius: 30%;
  margin-right: 30px;
}
.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}
#navbar {
  display: flex;
  justify-content: space-between;
  /* margin-top: 1rem; */
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--blue-color);
  color: rgb(20, 19, 19);
  padding: 1rem;
  /* debx img will go on top if you don't have this z index */
  z-index: 3;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}
#navbar ul li a {
  color: rgb(142, 169, 248);
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bolder;
  text-decoration: none;
}
#navbar ul li {
  padding: 1rem;
}
#navbar ul li:hover a {
  color: #fff;
  border-bottom: 4px solid white;
}

#navbar a:hover {
  color: #fff;
  border-bottom: 4px solid white;
}
a {
  text-decoration: none;
}
.music {
  color: white;
  /* margin-left: 33px; */
}
.headLine {
  color: var(--blue-color);
  text-align: center;
  margin: 70px 0px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.noteDiv {
  border-radius: 10px 10px 0px 0px;
  margin: 11px;
  padding: 22px;
  background-color: var(--blue-color);
  transition: color 0.6s, box-shadow 0.7s, transform 0.7s;
  transition-timing-function: cubic-bezier(0.45, 1.87, 0.62, 1.6);
}
.noteDiv:hover {
  box-shadow: 5px 4px 9px black;
  transform: scale(1.1);
}
.noteAnchor {
  color: white;
}
