/* Reset */
* {
  /* padding will not add to the ACTUALLY WIDTH OF THE BOX */
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
/* Main Styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
:root {
  --primary-green: rgb(10, 243, 10);
  --primary-blue: #177bdf;
  --primary-pink: #f805b1;
  --blue-color: #0d3bef;
}

/* Showcase */
#showcase {
  position: relative;
  background: #333 url("../img/guitar.jpg") no-repeat center center/cover;
  height: 100vh;
  color: white;
}
h1 {
  position: absolute;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 4px 4px #000;
}
