/* Reset */
* {
  /* padding will not add to the ACTUALLY WIDTH OF THE BOX */
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
/* Main Styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
:root {
  --primary-green: rgb(10, 243, 10);
  --primary-blue: #177bdf;
  --primary-pink: #f805b1;
  --blue-color: #0d3bef;
}

/* Nav Bar */

.navImage {
  width: 122px;
  border-radius: 30%;
}
.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}
#navbar {
  display: flex;
  justify-content: space-between;
  /* margin-top: 1rem; */
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--blue-color);
  color: rgb(20, 19, 19);
  padding: 1rem;
  /* debx img will go on top if you don't have this z index */
  z-index: 3;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}
#navbar ul li a {
  color: rgb(142, 169, 248);
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bolder;
  text-decoration: none;
}
#navbar ul li {
  padding: 1rem;
}
#navbar ul li:hover a.nav {
  color: #fff;
  border-bottom: 4px solid white;
}

a {
  text-decoration: none;
}
