/* Reset */
* {
  /* padding will not add to the ACTUALLY WIDTH OF THE BOX */
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
/* Main Styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
:root {
  --primary-green: rgb(10, 243, 10);
  --primary-blue: #177bdf;
  --primary-pink: #f805b1;
  --blue-color: #0d3bef;
}

h1 {
  text-align: center;
  margin-top: 200px;
}
